.card-container {
    max-width: 400px;
    width: 300px;
  }

#card-content {
  font-size: 20px;
  font-style: italic;
  color:gray;
  text-align: center;
  padding: 30px 0px 30px 0px;
}
  
#card-button {
  text-align: center;
}