<div class="detail-product-container">
  <h3>Veuillez saisir le produit dont vous voulez les informations</h3>
  <mat-form-field appearance="fill">
    <mat-label>Selectez Produit</mat-label>
    <mat-select (selectionChange)="onSelectProductChange($event)">
      <mat-option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card
      class="dp-card-container"
      *ngIf="this.selectedProduct !== undefined"
    >
      <mat-card-title>{{ this.selectedProduct.name }}</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <p>Prix: {{ this.selectedProduct.price }} euros</p>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <span fxLayout="column">
            Promotion: {{ this.selectedProduct.discount * 100 }} %
          </span>
          <input
            [value]="percent"
            (change)="onChangePercent($event)"
            style="width: 55px; height: 30px"
            fxLayout="column"
            type="number"
            id="salepercent"
            min="0"
            step="1"
            max="100"
          />
          <div fxLayout="column">
            <button mat-raised-button color="primary" (click)="updateSale()">
              Modifier Promotion
            </button>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <span fxLayout="column">
            Quantite en stock: {{ this.selectedProduct.quantityInStock }}
          </span>
          <input
            [value]="quantityStock"
            (change)="onChangeQuantityStock($event)"
            style="width: 55px; height: 30px"
            fxLayout="column"
            type="number"
            id="quantityStock"
            min="0"
            step="1"
          />
          <div fxLayout="column">
            <button mat-raised-button color="primary" (click)="updateQuantityStock()">
              Modifier Quantite
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
