<div class="detail-product-container">
  <h3>Veuillez saisir le produit dont vous voulez les informations</h3>
  <mat-form-field appearance="fill">
    <mat-label>Selectez Produit</mat-label>
    <mat-select (selectionChange)="onSelectProductChange($event)">
      <mat-option *ngFor="let product of products" [value]="product.id">
        {{ product.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card
      class="dp-card-container"
      *ngIf="this.selectedProduct !== undefined"
    >
      <mat-card-title>{{ this.selectedProduct.name }}</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>


        <table style="width:100%">
          <tr>
            <th><span>
              Prix: {{ this.selectedProduct.price }} euros
            </span></th>
            <td><input
              [value]="checkBox"
              (change)="onChangePriceSelling($event)"
              style="width: 20px; height: 20px"
              type="checkbox"
              id="priceSelling"
              step="1"
            /></td>
          </tr>
          <tr>
            <th><span>
              Promotion: {{ this.selectedProduct.discount * 100 }} %
            </span></th>
            <td><input
              [value]="percent"
              (change)="onChangePercent($event)"
              style="width: 55px; height: 30px"
              type="number"
              id="salepercent"
              min="0"
              step="1"
              max="100"
            /></td>
          </tr>
          <tr>
            <th><span>
              Quantite: {{ this.selectedProduct.quantity_in_stock }}
            </span></th>
            <td><input
              [value]="quantityStock"
              (change)="onChangeQuantityStock($event)"
              style="width: 55px; height: 30px"
              type="number"
              id="quantityStock"
              step="1"
            />    </td>
          </tr>
        </table>
<!--
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <span fxLayout="column">
            Prix: {{ this.selectedProduct.price }} euros       || Jeter?
          </span>
          <input
            [value]="checkBox"
            (change)="onChangePriceSelling($event)"
            style="width: 20px; height: 20px"
            fxLayout="column"
            type="checkbox"
            id="priceSelling"
            step="1"
          />
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <span fxLayout="column">
            Promotion: {{ this.selectedProduct.discount * 100 }} %
          </span>
          <input
            [value]="percent"
            (change)="onChangePercent($event)"
            style="width: 55px; height: 30px"
            fxLayout="column"
            type="number"
            id="salepercent"
            min="0"
            step="1"
            max="100"
          />
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <span fxLayout="column">
            Quantite: {{ this.selectedProduct.quantityInStock }}
          </span>
          <input
            [value]="quantityStock"
            (change)="onChangeQuantityStock($event)"
            style="width: 55px; height: 30px"
            fxLayout="column"
            type="number"
            id="quantityStock"
            step="1"
          />          
        </div>-->
        <button mat-raised-button color="primary" (click)="updateQuantityStock_v2()">
          Passer la Commande
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
