.detail-product-container {
    text-align: center;
    padding-top: 100px;
}

.dp-card-container {
    width: 500px;
    height: 300px;

    > mat-card-content {
        padding-top: 50px;
        font-size: 16px;
    }
}