
$primaryColor: #3f51b5;
$menu-bottom-border: solid 8px silver;

.header-containter {
    text-align: center;
    background-color: $primaryColor;
    font-family: Arial, Helvetica, sans-serif;

    > div {
        color:white;
        font-size: large;
        height: 60px;
    }

    >div:hover {
        .elementdefault{
            border-bottom: $menu-bottom-border;
        }
    }
}

.elementclicked {
    border-bottom: $menu-bottom-border;
    cursor: pointer;
}

.elementdefault {
    cursor: pointer;
}