
#home-title {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 150px 0px 150px 0px;
}

.home-cards {
    padding: 0px 200px 0px 200px;
}